# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
.ipynb_checkpoints/
scripts/

# Env
.venv/
venv/
.env
.env.*

# Logs / outputs
logs/
output/
outputs/
runs/
wandb/
tensorboard/
*.log

# Models / checkpoints (보통은 repo에 안 올림)
*.pt
*.pth
*.ckpt
*.onnx
*.pkl
*.so
*.task
*.engine
*.data

checkpoints/
weights/
experiments/
google-research/
metrics/


# Data (절대 올리지 않는 게 보통)
data/
dataset/
datasets/

ditto_iMF_output/
ditto_meanflow_output/
ditto_original_output/
example/testset/
example_train/
sample_output/
testset_results/
wandb/

# OS
.DS_Store

# Other
MEANFLOW_TENSORRT_CONVERSION_GUIDE.md
LICENSE